#new-fighter {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#new-fighter > * {
  margin: 1rem;
}

.new-fighter-wrap {
  display: flex;
  align-items: flex-start;
}

.new-fighter-wrap > div {
  padding: 0 20px;
  width: 20%;
  flex-shrink: 0;
}

.new-fighter-wrap .form-error {
  font-size: 14px;
  text-align: left;
}

.success-message {
  text-align: left;
  color: green;
}
